#work{
    background-color: #001125;
  min-block-size: 80vh;
  inline-size: 100%;
  padding-block-start: 80px;
}

.work-h{
    color: white;
    text-align: center;
    margin-block-start: 92px;
}
.work-h1{
    text-align: center;
    font-size: 32px;
    color: #8591B5;
    
}

/* work-cards */
  /* Float four work-.work-columns side by side */
  .work-column {
    float: inline-start;
    inline-size: 31%;
    padding: 0 30px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    /* margin: -64px 0px; */
    /* inline-size: 1792px; */
    /* min-block-size: 80vh; */
    background: #001125;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: auto;
    margin: -50px 0px;
    inline-size: 100%;
    padding-block-start: 100px;
    flex-wrap: wrap;
    padding-block-start: 96px;
}
/* 
  .row-st {
      background: #001125;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-end: auto;
      margin: -43px 0px;
  } */
    

  /* Clear floats after the work-.work-columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive work-.work-columns */
  @media screen and (max-inline-size: 600px) {
    .work-column {
      inline-size: 100%;
      display: block;
      margin-block-end: 20px;
    }

    .work{
      padding-inline-start: 100px;
    }
  }
  
  /* Style the counter work-cards */
  .work-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff28;
    border-radius: 20px;
    /* background-image: url('../assets/img/work-card.png'); */
    block-size: 208px;
    inline-size: 360px;
    /* inline-size: 300px; */
    /* box-shadow: inset 0 0 10px #05C7F2;
    clip-path: polygon(0% 40px, 40px 0%, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0px 100%); */
  }
  
  .card-blue{
    color: #3FA1FB;
    font-size: 35px;
  }
  
  .card-green{
    color: #4FEED2;
    font-size: 35px;
  }
  
  .card-purple{
    color: #727FFF;
    font-size: 35px;
  }

  .card-para {
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: start;
    padding-block-start: 10px;
  }