#a-home{
    background-color: #001125;
	/* background-size: cover; */
    min-height: 80vh;
    width: 100%;
}

.About-h{
    color: white;
    text-align: center;
    padding-top: 250px;
}

.About-p{
    color: rgba(255, 255, 255, 0.37);
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    font-size: 28px;
}
/*
.About-subh{
    font-size: 30px;
    color: white;
    text-align: center;
}
.About-subp1{
    font-size: 22px;
    color: white;
    text-align: left;
    padding-left: 30px;
    animation: slideFromLeft 1s ease-in-out forwards;
}

.About-subp2{
    font-size: 22px;
    color: white;
    text-align: right;
    padding-right: 30px;
    animation: slideFromRight 1s ease-in-out forwards;
}*/

@media screen and (max-width: 600px) {
    .About-p {
        padding-left: 10px;
        width: 687px;
    }
    .About-subh{
        margin-top: 20px;
    }
    .About-subp{
        width: 365px;
    }
  }


/**.{
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', serif;
  color: #acaabe;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3d54;
  font-size: 14px;
  overflow: hidden; }*/

 .wrap {
  perspective-origin: 50% 50%; }

/*.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw; }
*/

 .svg {
  stroke: #3FA1FB;
  position: absolute;
  bottom: 20vh;
  transform-style: preserve-3d; }

.svg:nth-child(1) {
  left: 5%;
  animation: raise1 11s linear infinite;
  animation-delay: -2s;
  transform: scale(-0.3) rotate(243deg);
  z-index: -6;
  filter: blur(-5px); }

@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(231deg); } }

.svg:nth-child(2) {
  left: 51%;
  animation: raise2 18s linear infinite;
  animation-delay: -4s;
  transform: scale(0) rotate(325deg);
  z-index: -5;
  filter: blur(-4px); }

@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(351deg); } }

.svg:nth-child(3) {
  left: 46%;
  animation: raise3 19s linear infinite;
  animation-delay: 0s;
  transform: scale(0.3) rotate(67deg);
  z-index: -4;
  filter: blur(-3px); }

@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(255deg); } }

.svg:nth-child(4) {
  left: -7%;
  animation: raise4 11s linear infinite;
  animation-delay: -4s;
  transform: scale(0.6) rotate(201deg);
  z-index: -3;
  filter: blur(-2px); }

@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(103deg); } }

.svg:nth-child(5) {
  left: 49%;
  animation: raise5 17s linear infinite;
  animation-delay: 0s;
  transform: scale(0.9) rotate(72deg);
  z-index: -2;
  filter: blur(-1px); }

@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(76deg); } }

.svg:nth-child(6) {
  left: 100%;
  animation: raise6 15s linear infinite;
  animation-delay: -3s;
  transform: scale(1.2) rotate(19deg);
  z-index: -1;
  filter: blur(0px); }

@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(112deg); } }

.svg:nth-child(7) {
  left: 15%;
  animation: raise7 8s linear infinite;
  animation-delay: -1s;
  transform: scale(1.5) rotate(194deg);
  z-index: 0;
  filter: blur(1px); }

@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(353deg); } }

.svg:nth-child(8) {
  left: 52%;
  animation: raise8 15s linear infinite;
  animation-delay: -3s;
  transform: scale(1.8) rotate(313deg);
  z-index: 1;
  filter: blur(2px); }

@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(148deg); } }

.svg:nth-child(9) {
  left: -13%;
  animation: raise9 16s linear infinite;
  animation-delay: 0s;
  transform: scale(2.1) rotate(198deg);
  z-index: 2;
  filter: blur(3px); }

@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(1deg); } }

.svg:nth-child(10) {
  left: 17%;
  animation: raise10 10s linear infinite;
  animation-delay: -3s;
  transform: scale(2.4) rotate(96deg);
  z-index: 3;
  filter: blur(4px); }

@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(127deg); } }