.About-h{
    background-color: #001125;
    margin-block-start: 20px;
    text-align: center;
}

.about-column {
    float: inline-start;
    inline-size: 25%;
    padding: 0 30px;
  }
  
  /* Clear floats after the about-.about-columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive about-.about-columns */
  @media screen and (max-inline-size: 600px) {
    .about-column {
      inline-size: 100%;
      display: block;
      margin-block-end: 20px;
    }
  }
   
  .flip-card {
    background-color: transparent;
    inline-size: 300px;
    block-size: 200px;
    perspective: 1000px;
    border-radius: 15px; 
  }
  
  .card-ab {
    position: relative;
    inline-size: 300px;
    block-size: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(248, 248, 248, 0.2);
    text-align: center;
    background-color: #001125;
    background-size: cover;
    border-radius: 15px; 
  }
  
  .flip-card:hover .card-ab{
    transform: rotateY(180deg);
  }

  .flip-front-team-card-img, .flip-card-back {
    position: absolute;
      inline-size: 300px;
      block-size: 200px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 15px; 
    }
    
  .flip-front-team-card-img {
      text-align: center;
    block-size: 200px;
    inline-size: 300px;
    background-size: cover;
    border-radius: 15px;  
  }
    
  .flip-card-back {
      background-color: #000E41;
      text-align: center;
    block-size: 200px;
    inline-size: 300px;
    background-size: cover;
    border-radius: 15px; 
    transform: rotateY(180deg);
    }
  
  .img-1 {
    background-image: url('men.png'); 
  }

  .img-2 {
    background-image: url('men2.png');
  }

  .img-3 {
    background-image: url('men2.png');
  }

  .img-4 {
    background-image: url('men4.png');
  }

  .img-5 {
    background-image: url('men4.png');
  }

  .img-6 {
    background-image: url('men6.png');
  }

  .work-h1{
    background-color: #001125;
  }

  .blue1{
    font-size: 20px;
    color: #3FA1FB;
  }

  .blue2{
    font-size: 16px;
    color: #3FA1FB;
    font-weight:lighter;
    display: invisible;
  }

  .green1{
    font-size: 20px;
    color: #4FEED2;
  }

  .green2{
    font-size: 16px;
    color: #4FEED2;
    font-weight:lighter;
  }

  .social{
    color: #3FA1FB;
    inline-size: 25px;
    block-size: 25px;
    margin-block-start: 30px;
  }

  .i1, .i2{
    margin-inline-end: 10px;
  }