/* subscribe */
.newsletter {
    height: 400px;
    width: 1277px;
}

.newsletter .overlap {
    border-radius: 10px;
    height: 402px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1279px;
}

.newsletter .star {
    height: 27px;
    left: 1139px;
    position: absolute;
    top: 226px;
    width: 29px;
}

.newsletter .rectangle {
    background: linear-gradient(
        180deg,
        rgba(0, 14, 65, 0) 0%,
        rgba(9.98, 23.83, 73.7, 0.08) 40.5%,
        rgba(6, 21, 63, 0.507) 100%
    );
    border: 1px solid;
    border-color: #e7e9ee;
    border-radius: 10px;
    height: 402px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1279px;
}

.newsletter .img {
    height: 27px;
    left: 1212px;
    position: absolute;
    top: 35px;
    width: 29px;
}

.newsletter .star-2 {
    height: 27px;
    left: 1167px;
    position: absolute;
    top: 102px;
    width: 29px;
}

.newsletter .star-3 {
    height: 27px;
    left: 1174px;
    position: absolute;
    top: 247px;
    width: 29px;
}

.newsletter .star-4 {
    height: 27px;
    left: 1109px;
    position: absolute;
    top: 35px;
    width: 29px;
}

.newsletter .star-5 {
    height: 27px;
    left: 1212px;
    position: absolute;
    top: 173px;
    width: 29px;
}

.newsletter .star-6 {
    height: 27px;
    left: 1109px;
    position: absolute;
    top: 173px;
    width: 29px;
}

.newsletter .star-7 {
    height: 27px;
    left: 1065px;
    position: absolute;
    top: 102px;
    width: 29px;
}

.newsletter .input {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e5e7eb;
    border-radius: 10px;
    height: 53px;
    left: 96px;
    position: absolute;
    top: 242px;
    width: 752px;
}

.newsletter .overlap-group {
    border-radius: 10px;
    height: 53px;
    left: -5px;
    position: relative;
    width: 757px;
}

.newsletter .enter-email-address {
    background: transparent;
    border: none;
    color: #9ca3af;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 23px;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 14px;
    width: 157px;
}

.newsletter .div {
    background-color: #d9d9d94c;
    border-radius: 10px;
    height: 53px;
    left: 0;
    position: absolute;
    top: 0;
    width: 757px;
}

.newsletter .div-wrapper {
    background-color: #d9d9d94c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e5e7eb;
    border-radius: 10px;
    height: 53px;
    left: 931px;
    position: absolute;
    top: 242px;
    width: 188px;
}

.newsletter .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 25px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 119px;
}

.newsletter .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    height: 88px;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 49px;
    width: 602px;
}

.newsletter .p {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 48px;
    left: 96px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 137px;
    width: 529px;
}